<html>
<head>
    <style>
        #mutations {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #mutations td, #mutations th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #mutations tr:nth-child(even){background-color: #f2f2f2;}

        #mutations tr:hover {background-color: #ddd;}

        #mutations th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
    </style>
    </head>
    <body style="font-family: Verdana">
        <h1> Mutation report </h1>
        <table id="mutations">
            <tr>
                <th>File</th>
                <th>Where</th>
                <th>Line</th>
                <th>Orginal</th>
                <th>Mutation</th>
            </tr>
            @foreach (var mutation in @Model)
            {
                <tr>
                    <td>@mutation.FileName</td>
                    <td>@mutation.Location.Where</td>
                    <td>@mutation.Location.Line</td>
                    <td><code>@mutation.Orginal</code></td>
                    <td><code>@mutation.Mutation</code></td>
                </tr>
            }
        </table>
    </body>
</html>
